html {
  position: relative;
  min-height: 100%;
}

body {
  margin-top: 20px;
  margin-bottom: 60px;
}

img {
  margin-right: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  height: 40px;
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

[v-cloak] { display: none; }